---
// Example: src/pages/index.astro
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>

    <div class="container mx-auto text-center">

	<a href="https://todoist.com/app/upcoming" class="btn btn-primary">todoist</a>
	<a href="https://www.reddit.com/" class="btn btn-primary">reddit</a>
	<a href="https://www.reddit.com/r/Adelaide/new/" class="btn btn-primary">r/adelaide</a>
	<a href="https://www.reddit.com/r/all/" class="btn btn-primary">r/all</a>
	<a href="https://twitter.com/search?q=carnivorescreed&src=typed_query&f=live" class="btn btn-primary">@carnivorescreed</a>
	<a href="https://twitter.com/search?q=bluedwarfash&src=typed_query&f=live" class="btn btn-primary">@bluedwarfash</a>
	<a href="https://www.youtube.com/playlist?list=PLpTPRepz0TorxXBmu9N-FALLoKHJGfmwy" class="btn btn-primary">YT 1</a>
	<a href="https://www.youtube.com/playlist?list=PLpTPRepz0TordRnsSF7xS1c8GSKe3fr_z" class="btn btn-primary">YT 2</a>
	<a href="https://www.youtube.com/playlist?list=PLpTPRepz0TopzlXKUyfl5QdVklON8sKa5" class="btn btn-primary">YT space</a>
	<a href="https://www.netflix.com/" class="btn btn-primary">Netflix</a>
	<a href="http://159.203.67.96:10000/" class="btn btn-primary">webmin</a>
	<a href="https://www.primevideo.com/mystuff/watchlist/all/prime/ref=atv_mys_wl_prm?page=1&sort=DATE_ADDED_DESC" class="btn btn-primary">AMZN watch</a>
	<a href="https://docs.google.com/spreadsheets/d/1jYo7FZJRXW_qghHAEnmFUws6b2yIGS-lZCnRGkxLUCY/edit#gid=0" class="btn btn-primary">Moovees</a>
<a href="https://tailwindcss.com/docs/aspect-ratio" class="btn btn-primary">Tailwindcss</a>
<a href="https://daisyui.com/components/" class="btn btn-primary">DaisyUI</a>
<a href="https://shuffle.dev/dashboard" class="btn btn-primary">ShuffleDev</a>



    </div>
</DefaultLayout>
