---
// Example: src/pages/index.astro
import DefaultLayout from "../layouts/DefaultLayout.astro";

const rightMeow = new Date(Date.now());
const rightMeowTimeDateFriendly = rightMeow.toLocaleString(undefined, {year: 'numeric', month: 'short', day: '2-digit', weekday:"short", hour: '2-digit', hour12: false, minute:'2-digit'});
---

<style>

	.btn {
		text-decoration: none;
		height: 33px;
		min-height: 33px;
	}

</style>

<DefaultLayout>

    <a href="https://github.com/AshSimmonds/homey/edit/main/src/pages/index.astro" style="float:right; font-size: xx-small;">Updated: {rightMeowTimeDateFriendly} GMT</a>

    <div class="container mx-auto text-center">

	<h2 class="align">productivity</h2>

		<a href="https://mail.google.com" class="btn btn-primary">Mail</a>

		<a href="https://calendar.google.com/" class="btn btn-primary">Calendar</a>

		<a href="https://discord.com/channels/@me" class="btn btn-primary">Discord</a>

		<a href="https://drive.google.com/drive/" class="btn btn-primary">GDrive</a>

		<a href="https://todoist.com/app/upcoming" class="btn btn-secondary">Todoist</a>

		<a href="https://github.com/AshSimmonds?tab=repositories" class="btn btn-primary">Repos</a>

		<a href="https://www.youtube.com/channel/UCwf-6jwIKj-uxLvdzAsmjtg/videos" class="btn btn-primary">Wanaka</a>

		<a href="https://goo.gl/maps/6gK1gA8iBk31HbAHA" class="btn btn-primary">Rundle</a>

	<h2>Blue Dwarf Space</h2>

		<a href="https://bluedwarf.space/" class="btn btn-primary">hoam</a>

		<a href="https://app.slack.com/client/TA9P72UMD/G0129R3F5RQ" class="btn btn-primary">Slack ICC</a>

		<a href="https://app.slack.com/client/T03FT679VLY/" class="btn btn-primary">Slack BDS</a>

		<a href="https://trello.com/" class="btn btn-primary">Trello</a>

		<a href="https://www.notion.so/" class="btn btn-primary">Notion</a>

		<a href="https://miro.com/app/dashboard/" class="btn btn-primary">Miro</a>

		<a href="https://bluedwarf.space/youtubersfeed/" class="btn btn-primary">Youtubers</a>

		<a href="https://bluedwarf.space/news/" class="btn btn-primary">Newsy</a>

	    
	<h2>Kaizen Sports Group</h2>	    
	    
		<a href="https://github.com/AshSimmonds/kaizen_13_blazor_server_smarteraspdotnet" class="btn btn-primary">Repo</a>

		<a href="https://app.appsmith.com/applications" class="btn btn-primary">Appsmith admin</a>
	    
	<h2>Procrastination</h2>

		<a href="https://www.nytimes.com/games/wordle/index.html" class="btn btn-primary">wordle</a>

		<a href="https://www.quordle.com" class="btn btn-primary">quordle</a>

		<a href="https://www.heardle.app" class="btn btn-primary">heardle</a>

		<a href="https://worldle.teuteuf.fr/" class="btn btn-primary">worldle</a>

		<a href="http://www.windows93.net/#!solitude" class="btn btn-primary">solitude</a>

	<h2>reddit</h2>

		<a href="https://www.reddit.com/.compact" class="btn btn-secondary md:hidden">reddit</a>
		<a href="https://www.reddit.com/" class="btn btn-primary hidden md:block">reddit</a>

		<a href="https://www.reddit.com/r/Adelaide/new/.compact" class="btn btn-secondary md:hidden">r/adl</a>
		<a href="https://www.reddit.com/r/Adelaide/new/" class="btn btn-accent hidden md:block">r/adelaide</a>

		<a href="https://www.reddit.com/r/all/.compact" class="btn btn-secondary md:hidden">r/all</a>
		<a href="https://www.reddit.com/r/all/" class="btn btn-primary hidden md:block">r/all</a>

	<h2>twitter</h2>

		<a href="https://twitter.com/search?q=carnivorescreed&src=typed_query&f=live" class="btn btn-primary">@carnivorescreed</a>

		<a href="https://twitter.com/search?q=bluedwarfash&src=typed_query&f=live" class="btn btn-primary">@bluedwarfash</a>

	<h2>youtube</h2>

		<a href="https://www.youtube.com/playlist?list=PLpTPRepz0TorxXBmu9N-FALLoKHJGfmwy" class="btn btn-primary">YT 1</a>

		<a href="https://www.youtube.com/playlist?list=PLpTPRepz0TordRnsSF7xS1c8GSKe3fr_z" class="btn btn-primary">YT 2</a>

		<a href="https://www.youtube.com/playlist?list=PLpTPRepz0TopzlXKUyfl5QdVklON8sKa5" class="btn btn-primary">YT space</a>


	<h2>teevee</h2>

		<a href="https://watch.foxtel.com.au/app/#/live/fis" class="btn btn-primary">Foxtel SciFi</a>

		<a href="https://pluto.tv/en/live-tv/star-trek-1" class="btn btn-primary">Pluto Star Trek (VPN)</a>

		<a href="https://docs.google.com/spreadsheets/d/1pnVyPWoRlYYPuxyKU0MlN1B75AkdqfU6WY8QP_hiWNc/edit#gid=0" class="btn btn-primary">Trek nonsense spreadsheet</a>

		<a href="https://tubitv.com/category/queue" class="btn btn-primary">tubi tv</a>

	<h2>moovees</h2>

		<!-- <a href="https://www.netflix.com/" class="btn btn-primary">Netflix</a> -->

		<!-- <a href="https://www.primevideo.com/mystuff/watchlist/all/prime/ref=atv_mys_wl_prm?page=1&sort=DATE_ADDED_DESC" class="btn btn-primary">AMZN watch</a> -->

		<a href="https://www.reddit.com/user/ashsimmonds/m/moovees/" class="btn btn-primary">Reddit moovees</a>

		<a href="https://www.youtube.com/feed/storefront?bp=kgEDCPYDogUCKAU%3D" class="btn btn-primary">Youtube moovees (VPN)</a>

		<a href="https://tubitv.com/category/queue" class="btn btn-primary">tubi tv</a>

		<a href="https://docs.google.com/spreadsheets/d/1jYo7FZJRXW_qghHAEnmFUws6b2yIGS-lZCnRGkxLUCY/edit#gid=0" class="btn btn-primary">Ratings spreadsheet</a>

	<h2>dev / programming</h2>

		<input type="text" value="C:\\Users\\ashsi\\AppData\\Roaming\\Code - Insiders\\User\\settings.json" id="vscodesettings" /> <button onclick="copySettings()">Copy</button>


		<a href="https://gitpod.io/workspaces" class="btn btn-primary">gitpod.io</a>

		<a href="https://stackblitz.com/" class="btn btn-primary">stackblitz</a>

		<a href="https://codesandbox.io/dashboard" class="btn btn-primary">codesandbox.io</a>

		<a href="https://app.appsmith.com/applications" class="btn btn-primary">appsmith</a>

		<a href="https://github.com/AdrienTorris/awesome-blazor" class="btn btn-primary">Blazor Awesome</a>

	<h2>UI / UX design stuff</h2>

		<a href="https://tailwindcss.com/docs/aspect-ratio" class="btn btn-primary">Tailwindcss</a>

		<a href="https://daisyui.com/components/" class="btn btn-primary">DaisyUI</a>

		<a href="https://shuffle.dev/dashboard" class="btn btn-primary">ShuffleDev</a>

	<h2>webmeister</h2>

		<a href="https://manage.crazydomains.com.au/members/" class="btn btn-primary">Crazy Domains</a>

		<a href="https://account.godaddy.com/products" class="btn btn-primary">GoDaddy</a>

		<a href="https://cloud.digitalocean.com/projects/ab9fa078-6d8a-4894-808a-0907d07f5b13/resources?i=07e4dc" class="btn btn-primary">Digital Ocean</a>

		<a href="https://member5-4.smarterasp.net/account/account_screen" class="btn btn-primary">SmarterASP</a>

	<h2>moozak</h2>

		<a href="https://energy981.com/listen" class="btn btn-primary">Energy98</a>

		<a href="https://www.abc.net.au/triplej/listen-live/double-j-player/" class="btn btn-primary">Double J</a>

		<a href="https://music.youtube.com/playlist?list=PLpTPRepz0Top25ZjEiFT235B76AdCCH4v" class="btn btn-primary">discobath</a>

		<a href="https://music.youtube.com/playlist?list=PLpTPRepz0TorHHKb_wB5tzNA8u-1s2Blt" class="btn btn-primary">h4x0r</a>

		<a href="https://music.youtube.com/playlist?list=PLpTPRepz0TorhfvVifB0dPTIRIZ4rQ8uG" class="btn btn-primary">TBoGT</a>

		<a href="https://music.youtube.com/playlist?list=PLpTPRepz0Toq9YD18TDIRy3xp_K_V5YAH" class="btn btn-primary">techno</a>

		<a href="https://music.youtube.com/playlist?list=PL0ED42B989CCD6CCF" class="btn btn-primary">Samantha</a>

		<a href="https://music.youtube.com/playlist?list=PL14D37E6E1863E867" class="btn btn-primary">Kristen</a>

		<a href="https://music.youtube.com/playlist?list=PLpTPRepz0ToojExPdqBqc7wnY-3aIryCp" class="btn btn-primary">Rhonda</a>

		<a href="https://music.youtube.com/playlist?list=PLpTPRepz0ToqOzFKa8Wbd6dzMSBwUQzOk" class="btn btn-primary">Kat</a>

	<h2>stuff I don't use often but might / #TODO maybe</h2>
		(date indicates last time I checked it was useful to daily life, and ended up here, forgotten, but not gone)

		<a href="https://app.bangle.io/ws/vault/bangle-io.md" class="btn btn-primary">Bangle</a> - 14-May-22

		<a href="https://gitpod.io/workspaces" class="btn btn-primary">gitpod</a> - 14-May-22

		<a href="https://github.com/AshSimmonds/new-screen-setup" class="btn btn-primary">new scr</a> - 14-May-22


	<a href="https://github.com/AshSimmonds/homey">src</a>

    </div>
</DefaultLayout>
	
	
<script>
	
function copySettings() {
  /* Get the text field */
  var copyText = document.getElementById("vscodesettings");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

   /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);

  /* Alert the copied text */
  alert("Copied the text: " + copyText.value);
}
	
</script>
	
