<!DOCTYPE html>

<html lang="en" data-theme="bluedwarfdark">

<head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>there's no place like one two seven dot zero dot zero dot one</title>
        <style is:global>
                @import "../styles/global.css";
                @import "../styles/augmented-ui.css";
        </style>

        <link rel="stylesheet"
                href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700;900&display=swap" rel="stylesheet">

        <style>
                .material-symbols-outlined {
                        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
                        padding-right: 100px;
                }
        </style>

        <link href="https://fonts.googleapis.com/css2?family=Orbitron&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@300&display=swap" rel="stylesheet" />

</head>

<body class="bg-gradient-to-b from-base-100 via-base-300 ...">
        <article class="prose text-center mx-auto">
                <slot />
                <!-- your content is injected here -->
                <div class="mx-12">

                </div>
        </article>


        <footer
                class="footer px-10 py-4 mt-16 text-white text-xs font-bold uppercase bg-gradient-to-bl from-base-300 via-base-100 to-base-300">

        </footer>


</body>

</html>
<script>


</script>
